
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@400;700&display=swap');
:root {
    --main-bg-color:brown;
    --font1:'Roboto', sans-serif;
    --font2:'Ubuntu', sans-serif;
}
.font1{
    font-family:var(--font1);
}
.font2{
    font-family:var(--font2);
}
.max-width-1{
max-width: 80vw;
}
.max-width-2{
max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.my-1{
    margin-top: 12px;
    margin-bottom: 12px;
}
span{
    /* margin-left: 115px; */
}



